<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/sidebar.css" th:href="@{/css/sidebar.css}" rel="stylesheet" />
</head>
<body>
       <div id="wrapper">
       		<p align="right"><a href="#" th:href="@{/}">Cerrar sesión   </a></p>
       <form class="navbar-form" role="search" action="#" th:action="@{/admin_index}" th:object="${eleccion}" method="post">
	   <div class="col-sm-3">
			<nav class="nav-sidebar">
				<ul class="nav tabs">
					<center>
          			<li class="active"><h2> Panel de administración</h2>
          				<br></br><br></br>
          			</li>
          			<li class="table-striped table-bordered">
          				<input type="number" class="form-control" th:field="*{numeroOpciones}" placeholder="Nº cand."></input>
          				<br></br>
    					<button type="submit" class="btn btn-link">Añadir elecciones</button>
    					<br></br>
    				</li>
          			<li class="table-striped table-bordered">
          				<button type="submit" class="btn btn-link" name="pollingStation" th:value="pollingStation">Configurar colegios electorales</button>
          			</li>
          			</center>                              
				</ul>
			</nav>
		</div>
        </form>
        <div class="col-md-8">
        	<center><h4><small>Elecciones disponibles</small></h4>
        	<div th:if="${error != null}">
    			<p><font th:text="${error}" color="red" size="2"></font></p>
			</div>
        	</center>
			<table class="table table-striped table-bordered">
		      <tr>
		        <th>Nombre</th>
		        <th>Fecha comienzo</th>
		        <th>Fecha finalización</th>
		        <th>Hora de inicio</th>
		        <th>Hora de finalización</th>
		        <th>Activación</th>
		        <th>Activar/Desactivar</th>
		        <th>Configurar opc./candid.</th>
		      </tr>
		      <tr th:each="e : ${elecciones}">
			      <form class="navbar-form" action="#" th:action="@{/admin_index}" method="post">
				        <td><center><b><p th:text="${e.nombre}"></p></b></center></td>
				        <td th:text="${#dates.format(e.fechaInicio, 'dd/MM/yyyy')}"></td>
				        <td th:text="${#dates.format(e.fechaFin, 'dd/MM/yyyy')}"></td>
				        <td th:text="${e.horaInicio}"></td>
				        <td th:text="${e.horaFin}"></td>
				        <td th:if="${e.activa == true}" th:text="SI"></td>
				        <td th:if="${e.activa == false}" th:text="NO"></td>
				        <td th:if="${e.activa == true}"><center><button type="submit" class="btn btn-danger"  name="action" th:value="${e.id}">Desactivar</button></center></td>
				        <td th:if="${e.activa == false}"><center><button type="submit" class="btn btn-success"  name="action" th:value="${e.id}">Activar</button></center></td>
				        <th><button type="submit" class="btn btn-link"  name="conf" th:value="${e.id}">Configurar</button></th>
			      </form>
		      </tr>
		    </table>
       </div>
    </div>
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
</body>
</html>