<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<link href="../static/css/1-col-portfolio.css" th:href="@{/css/1-col-portfolio.css}" rel="stylesheet" />
</head>
<body>
<div class="header" th:fragment="cabecera">
    <h1>Voting System</h1>
</div>
</body>
</html>